.favorite-container {
    display: flex;
    border: 8px outset rgb(119, 37, 123);
    color: rgba(0, 0, 0, 0.87);
    align-self: center;
    border-radius: 10px;
    min-height: 200px;
    max-height: 200px;
    width: 75%;
    overflow: hidden;
    margin-top: 5px;
}

.favorite-container .user-avatar {
    margin-left: 20px;
    align-items: center;
    display: flex;
}

.favorite-container .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 3px;
}
