.favorites-heading {
    margin-left: 20px;
    text-align: center;
    margin-top: 50px;
}

.favorites-grid {
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    grid-auto-flow: column;
}

.favorite-box {
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background: linear-gradient(to bottom right, #4caf50, #2196f3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
