.favorites-heading {
    margin-left: 20px;
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}

.favorites-grid {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 20px;
    padding-bottom: 20px
}

.favorite-box {
    color: #ffffff;
    width: 300px;
    max-width: 300px; 
    margin: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    position: relative;
    
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(255, 255, 255, 0.16);
    color: #ffffff;
}

.favorite-box.placeholder {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background: #ffffff1a;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(255, 255, 255, 0.16);
}

.favorite-box.placeholder span {
    margin-top: 10px;
    margin-bottom: 10px;
}

.favorite-box:hover {
    background: rgba(255, 255, 255, 0.3);
}

@media (max-width: 600px) {
    .favorites-grid {
        grid-template-columns: 1fr; 
    }
}

.cover-art {
    max-width: 100%;
}

.delete-icon {
    position: absolute !important;
    top: 5px;
    right: 5px;
}

.selectedItem{
    background-color: #f4ba11;
    color: white;
}